@import url('https://fonts.googleapis.com/css?family=Mukta+Vaani');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1;
}

body {
  color: #3F51B5;
  min-width: 600px; /* Necessary evil */
  background-color: #E8EAF6;
  font-family: 'Mukta Vaani', sans-serif;
}

a,
a:hover,
a:visited {
  color: #303F9F;
  text-decoration: none;
}

h1 {
  color: #3F51B5;
  text-align: center;
  margin-top: 12px;
}

section#content {
  width: 100%;
  float: left;
  padding: 30px;
}

#add-sticker-form {
  background-color: white;
  margin: 24px;
  padding: 36px;
  padding-top: 12px;
  padding-bottom: 12px;
}

#add-sticker-form div {
  margin-top: 12px;
}
#add-sticker-form input {
  width: 100%;
}

#send {
  border: 2px solid #3F51B5;
  padding: 12px;
  text-align: center;
}

textarea {
  width: 100%;
  height: 60px;
}
